body {
 
}

.bg-img{
   background: linear-gradient(141deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 56%, rgba(0, 170, 204, 1) 100%)
}

section {
  padding: 1.5rem;
}

.section {
  padding: 1.5rem;
}

.header{
  background-color: #f5f5f5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}